<html>
  <head>
    <title>Integracion</title>
    <script src="js/app.js"></script>


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./angularApp/bower_components/ng-table/dist/ng-table.css">
    <link rel="stylesheet" href="./angularApp/node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
    <link rel="stylesheet" href="./angularApp/dist/css/src/css/social-buttons.css"/>
    <link rel="stylesheet" href="./angularApp/dist/css/src/css/main.css"/>
    <link rel="stylesheet" href="./angularApp/bower_components/angular-xeditable/dist/css/xeditable.min.css"/>
    <link rel="stylesheet" href="./angularApp/bower_components/ngToast/dist/ngToast.min.css">

    <style>

      .container-fluid {
        padding-right: 50px;
        padding-left: 50px;
      }
      .selected {
        background-color: #d9edf7;
      }

  </style>

    <script type="text/javascript" src="./angularApp/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./angularApp/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./angularApp/bower_components/angular/angular.js"></script>
    <script src="./angularApp/bower_components/angular-resource/angular-resource.js"></script>
    <script src="./angularApp/bower_components/ng-table/dist/ng-table.min.js"></script>

    <script type="text/javascript" src="./angularApp/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script type="text/javascript" src="./angularApp/node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>


    <script type='text/javascript' src='./angularApp/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js'></script>
    <script type='text/javascript' src='./angularApp/bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>

    <script src="./angularApp/bower_components/angularjs-social-login/angularjs-social-login.js"></script>
    <script src="./angularApp/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

    <script src="./angularApp/bower_components/angular-ui-mask/dist/mask.js"></script>

    <script src="./angularApp/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="./angularApp/bower_components/ngToast/dist/ngToast.min.js"></script>

    <script src="./angularApp/dist/js/all.js"></script>

  </head>
  <body ng-app="angularApp" ng-controller="UserCtrl" class="{{indexClass}}" >
    <toast></toast>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-show="isAuthenticated">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home"><img src="image/logo.png" style="width: 40px;height: 40px;margin-top: -10px;"/></a>
          <div class="nav-icons" tooltip="Tooltip!" tooltip-placement="left">

            <a ui-sref="subscribers_finder" tooltip="Tooltip!"><span class="fa  fa-bell"></span></a>
            <a ui-sref="rewards_exchange" tooltip="Rewards Exchange"><span class="fa fa-trophy"></span></a>

            <a href="javascript:" context-menu="menuOptions" context-menu-on="click" tooltip="Tooltip!"><span class="glyphicon glyphicon-wrench"></span></a>
          </div>
        </div>
      </div>
    </nav>
	<div ui-view></div>
  <div ng-bind="selected"></div>
</body>
</html>
