<div id="main" class="container home" ng-show="isAuthenticated">
	<form>
    <select ng-model="category_selected" ng-options="c as c.description for c in category_list" class="form-control">
    </select>
		<!--<input type="text" ng-model="search" class="form-control" id="input-search" placeholder="Buscar empresas..." alt="Buscar empresas"/>!-->
	</form>

	<ul id="home-menu" class="nav">
		<li>
			<ul id="toggleCercanos" role="menu">
				    <li class="item-accordion" ng-repeat="item in filtered_companies">
                {{item.name}} <a class="plus" ui-sref="company({id: item.pk})"><i class="glyphicon glyphicon-plus"></i></a>
            </li>
      </ul>
		</li>
	</ul>

  <footer>
  </footer>

</div>
