<div id="main" class="container empresa" ng-show="isAuthenticated">

	<!-- Contenido principal -->
  <ul class="empresa-menu nav">
		<li style="
    color: white;
    font-size: 20px;
    text-align: center;
">
			 Mis Puntos
		</li>
	</ul>
  <div class="row">
		<div class="col-md-12 empresa-top clearfix">
      <fieldset>
			  <div class="form-group">
              <div class="input-group">
                  <label>Puntos acumulados a la fecha:</label>&nbsp;{{ profile.points_pending }}
              </div>
              <div class="input-group">
                <label>Puntos canjeados a la fecha:</label>&nbsp;{{ profile.points_redeemed }}
              </div>
        </div>
		  </fieldset>
    </div>
	</div>
	<!-- Fin contenido principal -->
  <footer>
  </footer>

</div> <!-- /container -->
